@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #1e002e;
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: "montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
}
.foto__perfil{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.destaque_titulo{
    color: #22D4FD;
}
.apresentacao{
    padding: 5% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-family: "Krona One", serif;
    font-size: 36px;
}
.apresentacao__conteudo__texto{
    font-family: "Montserrat", serif;
    font-size: 24px;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.apresentacao__links__link{
    /*background-color: #22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #22D4FD;
    font-family: "Montserrat", serif;
}
.apresentacao__links__link:hover{
    background-color: #410064;
}

.apresentacao__links__subtitulo{
    font-family: "Krona One", serif;
    font-weight: 400;
}

.rodape{
    color:black;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: "Krona One", serif;

}