@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-principal: #1A1A1D;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #8a56e0;
    --cor-hover: #2b2b3b;
    --cor-fonte: #000000;

    --fonte-krona: "Krona One", serif;
    --fonte-montserrat: "montserrat", serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.foto__perfil{
    width: 45%;
    border-radius: 5%;
}

.destaque_titulo{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-krona);
    font-size: 2rem;
    text-align: center;
}

.apresentacao__conteudo__texto{
    font-family: var(--fonte-montserrat);
    font-size: 1.5rem;
    text-align: center;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__links__navegacao{
    /*background-color: #22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-montserrat);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-krona);
    font-weight: 400;
    font-size: 1.5rem;
}

.rodape{
    color:var(--cor-fonte);
    background-color: var(--cor-terciaria);
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--fonte-krona);
}

@media (max-width: 1000px){
    .cabecalho{
        padding: 10%;
    }

    .foto__perfil{
        width: 70%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__links__navegacao{
        width: 250px;
    }

    .rodape{
        padding: 10px;
        font-size: 0.8rem;
    }
}